@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.banner .container_home {
    position: relative;
    max-width: 700px;
    text-align: center;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.banner .container_home .frame{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .3s ease;
    margin-top: 0;
    left: 0;
    right: 0; 
}

.banner .container_home .frame .github,
.banner .container_home .frame .linkedin,
.banner .container_home .frame .facebook  {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.banner .container_home img { 
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 15px;
}

.banner .container_home img:hover {
  opacity: 0.5;
}

.banner .container_home .frame i {
  cursor: pointer;
  font-size: 55px;
  color: #1FBAD9;
}

.navbar {
  --nav-gap: 15px;
  padding: var(--nav-gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
}

.nav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
  opacity: 1;
}

.nav-label {
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
}

.nav-link {
  background: #1FBAD9;
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: transform 0.1s;
  width: var(--nav-gap);
}

.nav-link-selected {
  background: #1FBAD9;
  transform: scale(1.4);
}
/*
*/

.info {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #1FBAD9;
}

.info .contentinfo {
    display: block;
    text-align: center;
    width: 100%;
    top: 50px;
}

.info .contentinfo h1 {
    font-size: 50px;
}

.info .contentinfo p {
    font-size: 30px;
}

.info .languages {
  top: -10px;
}

.container {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #1FBAD9;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("images/Python.png") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("images/Python.png") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}
.card1 {
  background: url("images/R.png") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("images/R.png") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}
.card2 {
  background: url("images/julia.png") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("images/julia.png") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.kevin {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.footer {
    text-align: center;
    
}

.footer .container_c {
    height: 100px;
}

h4 {
    margin: 2px;
}

p {
    margin: 0;
}

@media only screen and (max-width: 300px) {
  .banner header .logo {
      font-size: 15px;
  }
}