@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.navbar {
  --nav-gap: 15px;
  padding: var(--nav-gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
}

.nav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
  opacity: 1;
}

.nav-label {
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
}

.nav-link {
  background: #1FBAD9;
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: transform 0.1s;
  width: var(--nav-gap);
}

.nav-link-selected {
  background: #1FBAD9;
  transform: scale(1.4);
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.banner .content {
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h2 {
    font-size: 60px;
    color: #1FBAD9;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.info {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #1FBAD9;
}

.info .contentinfo {
    display: block;
    text-align: center;
    width: 100%;
    top: -100px;
}

.info .contentinfo h2 {
    font-size: 50px;
}

.info .contentinfo p {
    font-size: 30px;
}

.info .languages {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: inherit;
}

.info .languages img {
    width: 300px;
    height: 300px;
}

.info .languages img:hover {
    opacity: 0.5;
}

.footer {
    text-align: center;
}

h4 {
    margin: 2px;
}

p {
    margin: 0;
}

@media only screen and (max-width: 300px) {
  .banner header .logo {
      font-size: 15px;
  }
}